:root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 62.5%;
    background: #ddfaef;
}



.main-container {
    display: block;
    width: 100%;
    flex-direction: column;

}

.gametitlediv {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2.8em;
    font-weight: bolder;
    color: lightsalmon;
}


.controlsdiv {
    display: flex;
    width: 50%;
    justify-content: center;
    border: 1px solid rgb(77, 90, 206);
    padding: 10px 10px;
    gap: 2px;
    border-radius: 5px;
    background-color: rgb(30, 200, 200);
}

.controlscontainer {
    display: flex;
    padding: 0 0 20px 0;
    gap: 30px;
}

.playeronescreen, .playertwoscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.0em;
    width: 25%;
    font-weight: bolder;
    background-color: rgb(166, 207, 207);
    border-radius: 5px;
}

.playeroneind,.playertwoind{
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;

}

.playeronename, .playertwoname {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    padding: 3px;
    width: 100px;
    border-radius: 5px;
}

.start {
    background-color: aquamarine;
    font-weight: bolder;
    font-size: medium;
    color: rgb(122, 71, 8); 
}

.reset {
    background-color: red;
    font-weight: bolder;
    font-size: medium;
    color: rgb(40, 26, 9); 
}

.gameboardcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gameboard {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    border: 5px solid rgb(251, 221, 157);
    background-image: url('../img/board.png');
    background-size: cover;
    gap: 10px;
}

.gameboard>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 5em;
    color: rgb(198, 184, 159);
    border: 0px solid white;
    cursor: pointer;
}

.gamestatus {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 0 10px 0;
}

.gamestatus>button {
    background-color: blue;
    font-weight: bolder;
    color: white;
}

.displaystatus {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    font-weight: bolder;
    font-size: 3em;
}

